---
import Layout from "@layouts/Layout.astro"
import { cn } from "@utils"
import { Image } from "astro:assets"
import { getCollection } from "astro:content"
import { ArrowRight, ArrowUpRightIcon } from "lucide-react"

import Email from "@components/icons/email.astro"
import Github from "@components/icons/github.astro"
import Linkedin from "@components/icons/linkedin.astro"
import { buttonVariants } from "@components/ui/button.astro"
import ExternalLink from "@components/ui/external-link.astro"
import SocialLink from "@components/ui/social-link.astro"
import Me from "../assets/me.svg?raw"

const allPortfolio = await getCollection("portfolio")
const TAGS_COLORS = {
  red: "hsla(0, 50%, 37%, 0.2)",
  green: "hsla(140, 50%, 37%, 0.2)",
  blue: "hsla(214, 50%, 37%, 0.2)",
  yellow: "hsla(45, 50%, 37%, 0.2)"
}
---

<Layout
  title='Netoun'
  description='Nicolas Coulonnier, Frontend Engineer. Passionate about web technologies and always looking for new challenges and opportunities to grow.'
>
  <!-- Hero Section -->
  <section
    id='hero'
    class='flex flex-col items-center gap-12 py-8 text-primary sm:gap-0 md:flex-row md:[min-height:calc(100dvh-var(--height-footer)-var(--height-header))]'
  >
    <!-- Hero Content -->
    <div class='w-full space-y-6 md:flex-1 md:space-y-12'>
      <h1
        class='text-balance font-title text-5xl font-medium [text-shadow:hsla(var(--primary)/0.75)_0px_0_20px] md:text-7xl'
      >
        Hi, I'm Nicolas !
        <br /> I'm a front end engineer.
      </h1>

      <!-- Bio -->
      <div class='space-y-2 text-balance pt-60 text-lg md:pt-0'>
        <p>
          I'm passionate about web technologies and I love to learn new things.
          I'm always looking for new challenges and opportunities to grow. I'm
          currently working at
          <ExternalLink href='https://lonestone.io'> Lonestone </ExternalLink>
          as a Frontend Engineer.
        </p>
        <p>
          I created <ExternalLink href='https://www.treashunt.fr'>
            Treashunt
          </ExternalLink>
          , a platform to create, share, and play treasure hunt games with QR codes
          and geolocation.
        </p>
      </div>

      <!-- CTA and Social Links -->
      <div class='flex flex-wrap items-center gap-4 md:gap-8'>
        <a href='/resume' class={cn(buttonVariants({ size: "lg" }), "group")}>
          Get my resume
          <ArrowRight
            className='ml-2 size-4 duration-100 group-hover:scale-110'
          />
        </a>

        <div class='flex items-center gap-4 text-primary'>
          <SocialLink href='https://github.com/netoun'>
            <span class='sr-only'>Github</span>
            <Github class='h-8 w-auto' />
          </SocialLink>
          <SocialLink
            href='https://www.linkedin.com/in/nicolas-coulonnier-66416813b'
          >
            <span class='sr-only'>LinkedIn</span>
            <Linkedin class='h-8 w-auto' />
          </SocialLink>
          <SocialLink href='mailto:coulonnier.nicolas.44@gmail.com'>
            <span class='sr-only'>Email</span>
            <Email class='h-8 w-10' />
          </SocialLink>
        </div>
      </div>
    </div>
    <div
      class='absolute -right-[50px] top-48 w-full flex-1 p-4 md:relative md:top-0'
    >
      <div
        class='absolute right-0 z-[-1] h-1/2 min-h-[300px] w-1/2 min-w-[300px] rounded-full bg-[radial-gradient(ellipse_at_top,_var(--tw-gradient-stops))] from-primary to-transparent opacity-50 blur-[12rem]'
      >
      </div>
      <div
        class='min-w-screen group relative mx-auto max-w-screen-sm rounded-xl'
      >
        <Fragment set:html={Me} />
      </div>
    </div>

    <!-- Hero Image -->
  </section>

  <!-- Portfolio Section -->
  <section class='space-y-8 py-16'>
    <h2
      class='font-title text-4xl font-medium [text-shadow:hsla(var(--foreground)/0.5)_0px_0px_1rem] md:text-6xl'
    >
      Portfolio
    </h2>
    <div class='grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3'>
      {
        allPortfolio.map((portfolio) => (
          <article class='group relative space-y-4 rounded-2xl backdrop-blur-sm'>
            <div class='relative aspect-video w-full overflow-hidden rounded-3xl border-2 border-primary shadow-2xl'>
              <Image
                src={portfolio.data.image}
                alt={portfolio.data.title}
                class='absolute inset-0 h-full w-full object-cover'
                width={600}
                height={400}
              />
              <Image
                src={portfolio.data.image_overlay}
                alt={portfolio.data.title}
                class='absolute inset-0 h-full w-full translate-y-full object-cover opacity-0 duration-300 group-hover:translate-y-0 group-hover:opacity-100'
                width={600}
                height={400}
              />
              <div class='pointer-events-none absolute inset-0 bg-gradient-to-bl from-black/50 via-transparent via-30% to-transparent' />

              <a
                href={portfolio.data.link}
                target='_blank'
                rel='noopener noreferrer'
                class='absolute right-2 top-2 flex size-8 items-center justify-center rounded-full bg-white/50 p-1 text-accent backdrop-blur-sm'
              >
                <ArrowUpRightIcon className='size-5' />
              </a>
            </div>
            <div class='flex flex-col p-4 pt-0'>
              <h3 class='text-2xl font-semibold'>{portfolio.data.title}</h3>
              <p class='text-muted-foreground'>{portfolio.data.description}</p>
              <div class='mt-4 flex flex-wrap gap-2'>
                {portfolio.data.tags.map((tag, index) => (
                  <span
                    class='rounded-md bg-[var(--tag-color)] px-2 py-1 text-sm'
                    style={`--tag-color: ${Object.values(TAGS_COLORS)[index % Object.values(TAGS_COLORS).length]}`}
                  >
                    {tag}
                  </span>
                ))}
              </div>
            </div>
          </article>
        ))
      }
    </div>
  </section>
</Layout>
